{
  "presets": [
    [
      "env", {
        "targets": {
          "node": "6.12"
        },
        "useBuiltIns": true
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": [
        "babel-plugin-rewire"
      ]
    }
  }
}
